# FastAPI & Web
fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.5.0
python-multipart

# Parsing & AST
tree-sitter
pygments
astor
radon

# Quantum Libraries
matplotlib
qiskit
cirq
#pyquil==4.1.1
pennylane

# Data Processing
numpy
networkx  # For control flow graphs

# Testing
pytest

# ML
pandas
scikit-learn
joblib
seaborn
scipy
google-cloud-storage
google-cloud-logging

xgboost>=1.7.0

# CodeBERT & Transformers
torch>=2.0.0
transformers>=4.30.0
tqdm>=4.65.0

accelerate==0.25.0
 
torch  
requests
python-dotenv