# IDE
.idea
.vscode
# Build
*.iml
/datasets
/codet5-quantum
/codet5-quantum-best
/codet5-quantum-best-version2
/codet5-quantum-best-version3
/codet5-quantum-best-version4
/codet5-quantum2
/codet5-quantum3
/codet5-quantum4
/better_datasets
/base_pairs
**/__pycache__/
/results_manual_test
/modal_training_utils/codet5-quantum
/modal_training_utils/datasets
/modal_training_utils/better_datasets
# Images
*.png

/version*/